<app-sidebar-admin></app-sidebar-admin>
<app-navbar-admin></app-navbar-admin>

<main role="main">
    <section class="panel important">
     
        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!--Material Icon-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!--Stylesheet-->
   
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <h2>Human <span class="danger">Resource</span></h2>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
            <div class="sidebar">
                <a href="/Admin/Admin.html" class="active">
                <span class="material-icons-sharp">grid_view </span>
                <h3>Dashboard</h3>
            </a> 
            <a href="/Employee/employees.html">
                <span class="material-icons-sharp"> people</span>
                <h3>Manage Employees</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">watch_later </span>
                <h3>Overtime</h3>
            </a>
            <a href="/salary/salary.html">
                <span class="material-icons-sharp">paid </span>
                <h3>Salary</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">contact_mail</span> 
                <h3>Leave Requests</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">settings </span>
                <h3>Settings</h3>
            </a>
            <a href="/Login and regis/Login.html">
                <span class="material-icons-sharp">logout</span>
                <h3>Logout</h3>
            </a>
            
            </div>
        </aside>
        <main>
            <h1>Dashboard</h1>
            <div class="date">
                <input type="date">
            </div>
            <div class="insights">
                <div class="attendance">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Attendance</h3>
                            <h1>25/30</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>90%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-mute">Last month</small>
                </div>
                <div class="Staff">
                    <span class="material-icons-sharp">groups</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Staff</h3>
                            <h1>2530</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>95%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-mute">Last month</small>
                </div>
                <div class="Leaves">
                    <span class="material-icons-sharp">groups</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Leaves Taken</h3>
                            <h1>1265</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>50%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-mute">This Year</small>
                </div>
            </div>
            <div class="staff-attendance">
                <h2>Staff Attendance</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Employee Id</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Kalpana Shrestha</td>
                            <td>248165</td>
                            <td><input type="date"></td>
                            <td class="warning">On leave</td>
                            <td class="primary"> <a href="/Employee/employees.html">Details</a></td>
                        </tr>
                        <tr>
                            <td>Kalpana Shakya</td>
                            <td>248166</td>
                            <td><input type="date"></td>
                            <td class="success">in Office</td>
                            <td class="primary"> <a href="/Employee/employees.html">Details</a></td>
                        </tr>
                        <tr>
                            <td>Kalpana Silwal</td>
                            <td>248167</td>
                            <td><input type="date"></td>
                            <td class="warning">On leave</td>
                            <td class="primary"> <a href="/Employee/employees.html">Details</a></td>
                        </tr> <tr>
                            <td>Kalpesh Shrestha</td>
                            <td>248168</td>
                            <td><input type="date"></td>
                            <td class="success">In Office</td>
                            <td class="primary"> <a href="/Employee/employees.html">Details</a></td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Show All</a>
            </div>
        </main>
        <div class="right">
            <div class="top">
                <button class="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey,<b>Admin</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photos">
                        <img src="./profile-1.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/jabvascript" src="admin.js"></script>
</html>
  
    </section>
</main>