<header>
    <script type="text/javascript" src="https://buyersroad.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/g39zuk/b/41/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&amp;collectorId=e53d5706"></script>
    <script type="text/javascript">
      window.ATL_JQ_PAGE_PROPS = {
        "triggerFunction": function(showCollectorDialog) {
          //Requires that jQuery is available! 
          jQuery("#bug-issue-collector-button").click(function(e) {
            e.preventDefault();
            showCollectorDialog();
          });
        }
      };
    </script>
  </header>
  <div class="main">
    <div class="container">
      <nav class="sub-nav">
        <ol class="breadcrumbs">
  
          <li title="SocialSurvey">
  
            <a href="/hc/en-us">SocialSurvey</a>
  
          </li>
  
          <li title="Submit a request">
  
            Submit a request
  
          </li>
  
        </ol>
  
        <form role="search" class="search" data-search="" action="/hc/en-us/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="Search" aria-label="Search"></form>
      </nav>
  
      <h1>
        Submit a request
  
      </h1>
  
      <div class="form">
        <form id="new_request" class="request-form" data-form="" data-form-type="request" action="/hc/en-us/requests" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="hc:requests:client:UAlqj6JdXIZS7GiiRoluPsIqn1gHNhwgdoQUIHWlgo9VUWQ8Tp+en2lTRtVPANnwf7Hxpiap00/WflAJGsv7aA==">
  
          <div class="form-field string required request_anonymous_requester_email"><label for="request_anonymous_requester_email">Your email address</label>
            <input type="text" name="request[anonymous_requester_email]" id="request_anonymous_requester_email" aria-required="true">
          </div>
  
          <div class="form-field string  required  request_subject">
            <label id="request_subject_label" for="request_subject">Subject</label>
            <input type="text" name="request[subject]" id="request_subject" maxlength="150" size="150" aria-required="true" aria-labelledby="request_subject_label">
  
          </div>
  
          <div class="suggestion-list" data-hc-class="searchbox" data-hc-suggestion-list="true"></div>
  
          <div class="form-field text  required  request_description">
            <label id="request_description_label" for="request_description">Description</label>
            <textarea name="request[description]" id="request_description" aria-required="true" aria-describedby="request_description_hint" aria-labelledby="request_description_label"></textarea>
  
            <p id="request_description_hint">Please enter the details of your request. A member of our support staff will respond as soon as possible.</p>
          </div>
  
          <div class="form-field">
            <label for="request-attachments">Attachments</label>
            <div id="upload-dropzone" class="upload-dropzone">
              <input type="file" multiple="true" id="request-attachments" data-fileupload="true" data-dropzone="upload-dropzone" data-error="upload-error" data-create-url="/hc/en-us/request_uploads" data-name="request[attachments][]" data-pool="request-attachments-pool"
                data-delete-confirm-msg="" aria-describedby="upload-error">
              <span>
      <a>Add file</a> or drop files here
    </span>
            </div>
  
            <div id="upload-error" class="notification notification-error notification-inline" style="display: none;">
              <span data-upload-error-message=""></span>
            </div>
  
            <ul id="request-attachments-pool" class="upload-pool" data-template="upload-template"></ul>
  
            <script type="text/html" id="upload-template">
              <li class="upload-item" data-upload-item>
                <a class="upload-link" target="_blank" data-upload-link></a>
                <p class="upload-path" data-upload-path></p>
                <p class="upload-path" data-upload-size></p>
                <p data-upload-issue class="notification notification-alert notification-inline" aria-hidden="true"></p>
                <span class="upload-remove" data-upload-remove></span>
                <div class="upload-progress" data-upload-progress></div>
                <input type="hidden">
              </li>
            </script>
  
          </div>
  
          <footer><input type="submit" name="commit" value="Submit">
            <script src="https://www.recaptcha.net/recaptcha/api.js" async="" defer=""></script>
            <script>
              var invisibleRecaptchaSubmit = function() {
                var closestForm = function(ele) {
                  var curEle = ele.parentNode;
                  while (curEle.nodeName !== 'FORM' && curEle.nodeName !== 'BODY') {
                    curEle = curEle.parentNode;
                  }
                  return curEle.nodeName === 'FORM' ? curEle : null
                };
                var eles = document.getElementsByClassName('g-recaptcha');
                if (eles.length > 0) {
                  var form = closestForm(eles[0]);
                  if (form) {
                    form.submit();
                  }
                }
              };
            </script>
            <div data-size="invisible" data-sitekey="6Ldm2WgUAAAAAJ0tKm0JAq-vewBfYR2yhQmPknA2" data-badge="inline" data-callback="invisibleRecaptchaSubmit" class="g-recaptcha " ui="invisible">
              <div class="grecaptcha-badge" data-style="inline" style="width: 256px; height: 60px; box-shadow: gray 0px 0px 5px;">
                <div class="grecaptcha-logo"><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Ldm2WgUAAAAAJ0tKm0JAq-vewBfYR2yhQmPknA2&amp;co=aHR0cHM6Ly9zb2NpYWxzdXJ2ZXkuemVuZGVzay5jb206NDQz&amp;hl=en&amp;v=v1561357937155&amp;size=invisible&amp;badge=inline&amp;cb=a9ycrk1ikbdi"
                    width="256" height="60" role="presentation" name="a-c8wqq9mssf14" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div>
                <div
                  class="grecaptcha-error"></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div>
      </div>
      </footer>
  
      </form>
  
    </div>
  
  </div>
  </div>
  
  <script type="text/javascript" src="https://static.zdassets.com/hc/assets/locales/en-us-a5503df53549041d0c344c39572f0906.js"></script>
  
  <script src="https://socialsurvey.zendesk.com/auth/v2/host.js" data-brand-id="413127" data-return-to="https://socialsurvey.zendesk.com/hc/en-us/requests/new" data-theme="hc" data-locale="en-us" data-auth-origin="413127,false,true"></script>
  
  <script type="text/javascript">
    /*
  
        Greetings sourcecode lurker!
  
        This is for internal Zendesk and legacy usage,
        we don't support or guarantee any of these values
        so please don't build stuff on top of them.
  
      */
    HelpCenter = {};
    HelpCenter.account = {
      "subdomain": "socialsurvey",
      "environment": "production",
      "name": "SocialSurvey"
    };
    HelpCenter.user = {
      "identifier": "da39a3ee5e6b4b0d3255bfef95601890afd80709",
      "email": null,
      "name": null,
      "role": "anonymous",
      "avatar_url": "https://assets.zendesk.com/hc/assets/default_avatar.png",
      "is_admin": false,
      "organizations": [],
      "groups": []
    };
    HelpCenter.internal = {
      "asset_url": "//static.zdassets.com/hc/assets/",
      "web_widget_asset_composer_url": "https://static.zdassets.com/ekr/snippet.js",
      "current_session": {
        "locale": "en-us",
        "csrf_token": "H2sDUyErj6fv3SeijHs93NiptaWZq07T2hZ6+LfQ7UsaMw3gzelNvtRiCdWF8ooSZTLbW7g0gbx67D7R2L6UrA==",
        "shared_csrf_token": null
      },
      "settings": {
        "zopim_enabled": true,
        "spam_filter_enabled": true
      },
      "current_record_id": null,
      "current_record_url": null,
      "current_record_title": null,
      "search_results_count": null,
      "current_text_direction": "ltr",
      "current_brand_url": "https://socialsurvey.zendesk.com",
      "current_host_mapping": null,
      "current_path": "/hc/en-us/requests/new",
      "authentication_domain": "https://socialsurvey.zendesk.com",
      "show_autocomplete_breadcrumbs": true,
      "rollbar_config": {
        "enabled": true,
        "endpoint": "https://rollbar-us.zendesk.com/api/1/item/",
        "accessToken": "731a5a953e9a4b7ab6cac9623f50c732",
        "captureUncaught": true,
        "captureUnhandledRejections": true,
        "payload": {
          "environment": "production",
          "client": {
            "javascript": {
              "source_map_enabled": true,
              "code_version": "8d650e8dea41b91e6cda6f20f68dae8f8771e963",
              "guess_uncaught_frames": true
            }
          }
        }
      },
      "user_info_changing_enabled": false,
      "has_user_profiles_enabled": false,
      "user_aliases_enabled": false,
      "has_anonymous_kb_voting": false,
      "has_professional_upsell": false,
      "has_multi_language_help_center": true,
      "mobile_device": false,
      "mobile_site_enabled": false,
      "show_at_mentions": false,
      "has_copied_content": false,
      "embeddables_config": {
        "embeddables_web_widget": true,
        "embeddables_connect_ipms": false
      },
      "base_domain": "zendesk.com",
      "answer_bot_subdomain": "static",
      "plans_url": "https://socialsurvey.zendesk.com/hc/admin/plan?locale=en-us",
      "manage_content_url": "https://socialsurvey.zendesk.com/hc/en-us",
      "arrange_content_url": "https://socialsurvey.zendesk.com/hc/admin/arrange_contents?locale=en-us",
      "general_settings_url": "https://socialsurvey.zendesk.com/hc/admin/general_settings?locale=en-us",
      "user_segments_url": "https://socialsurvey.zendesk.com/knowledge/user_segments?brand_id=413127",
      "has_community_enabled": false,
      "has_internal_sections": true,
      "has_answer_bot_web_form_enabled": false,
      "billing_url": "/access/return_to?return_to=https://socialsurvey.zendesk.com/agent/admin/subscription",
      "has_answer_bot": true,
      "has_block_answer_bot_embeddable": false,
      "answer_bot_management_url": "https://socialsurvey.zendesk.com/hc/admin/answer_bot?locale=en-us",
      "is_account_owner": false,
      "theming_center_url": "https://socialsurvey.zendesk.com/theming",
      "theming_cookie_key": "hc-da39a3ee5e6b4b0d3255bfef95601890afd80709-preview",
      "is_preview": false,
      "has_guide_user_segments_search": true,
      "has_alternate_templates": false,
      "arrange_articles_url": "https://socialsurvey.zendesk.com/knowledge/arrange?brand_id=413127",
      "article_verification_url": "https://socialsurvey.zendesk.com/knowledge/verification?brand_id=413127",
      "has_article_verification": false,
      "guide_language_settings_url": "https://socialsurvey.zendesk.com/hc/admin/language_settings?locale=en-us",
      "has_fetch_authenticity_token": true,
      "docs_importer_url": "https://socialsurvey.zendesk.com/knowledge/import_articles?brand_id=413127"
    };
  </script>
  
  <script src="https://static.zdassets.com/hc/assets/hc_enduser-de2ebf0b200f9be3af79f0d8f48fe021.js"></script>
  
  <script type="text/javascript">
    (function() {
      var Tracker = {};
      Tracker.track = function(eventName, data) {
        var url = "https://socialsurvey.zendesk.com/hc/tracking/events?locale=en-us";
        var payload = {
          "event": eventName,
          "data": data,
          "referrer": document.referrer
        };
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
        xhr.send(JSON.stringify(payload));
      };
      Tracker.track("submit_request_form_viewed", "BAh7BzoVcGFyZW50X3RpY2tldF9pZDA6Cl9tZXRhews6D2FjY291bnRfaWRpA4fZCzoTaGVscF9jZW50ZXJfaWRpBJPA7Qs6DWJyYW5kX2lkaQPHTQY6DHVzZXJfaWQwOg51c2VyX3JvbGVJIg5hbm9ueW1vdXMGOgZFVDoLbG9jYWxlSSIKZW4tdXMGOwxU--18aff6328ee201bd72916b1635f74781694c586a");
    })();
  </script>
