<mat-nav-list>
    <div class="profile-card">
    <div class="header" >
    <h2> Employees </h2>
    <h4></h4>
    </div>
    <img src="../../assets/employee1.png" alt="Employees">
    </div>
  
    <div> <span class='material-icons'>person</span> Profile </div>
  
    <mat-divider></mat-divider>
  
  <h2 matSubheader>Pages</h2>
  <a mat-List-item routerLinkActive="List-item-active" routerLink="/">
  
     Dashboard
  </a>
  
  <a mat-List-item routerLinkActive="List-item-active" routerLink="/">
    Employees
  </a>
  
  
    <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>
   
  <a mat-List-item routerLinkActive="List-item-active" routerLink=>
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-List-item routerLinkActive="List-item-active" routerLink="/Contacts">
    <mat-icon>contact_phone</mat-icon>
     Leads
  </a>
  
    </mat-nav-list>
    