<app-sidebar-admin></app-sidebar-admin>
<app-navbar-admin></app-navbar-admin>

<main role="main">
    <section class="panel important">
<div class="app-kaizala-container">
    <div class="app-kaizala-header">
        <div class="app-kaizala-leftnav">
            <img src="" alt="" width="48px">
        </div>
        <div class="app-kaizala-title">My Requests</div>
        <div class="app-kaizala-new">
            <img src="" alt="" width="48px">
        </div>
    </div>

    <div class="app-kaizala-body">
        <div class="app-kaizala-title">My Leave Requests</div>
        <div class="app-kaizala-tabs">
            <div class="app-kaizala-tab active">All</div>
            <div class="app-kaizala-tab">Pending</div>
            <div class="app-kaizala-tab">Approved</div>
            <div class="app-kaizala-tab">Declined</div>
            
        </div>
        <div class="app-kaizala-contents">
            <div class="app-kaizala-row">
                <div class="app-kaizala-reason">
                    <div class="app-kaizala-reason-icon">
                        <img src="" alt="" width="24px">
                    </div>
                    <div class="app-kaizala-reason-content">
                        <h5>Mohamed Salah </h5>
                        <p>4 Days</p>
                    </div>
                    <div class="app-kaizala-reason-declined">Declined</div>
                </div>
                <div class="app-kaizala-reason-date">
                    <p>Monday,Oct 22,2022</p>
                    <p>Thursday,Oct 25,2022</p>
                </div>
            </div>
            <div class="app-kaizala-divider"></div>
            <div class="app-kaizala-row">
                <div class="app-kaizala-reason">
                    <div class="app-kaizala-reason-icon">
                        <img src="" alt="" width="24px">
                    </div>
                    <div class="app-kaizala-reason-content">
                        <h5>Salma Abd</h5>
                        <p>One day</p>
                    </div>
                    <div class="app-kaizala-reason-approved">Approved</div>
                </div>
                <div class="app-kaizala-reason-date">
                    <p>Monday,Oct 25,2022</p>
                </div>
            </div>
            <div class="app-kaizala-divider"></div>
            <div class="app-kaizala-row">
                <div class="app-kaizala-reason">
                    <div class="app-kaizala-reason-icon">
                        <img src="" alt="" width="24px">
                    </div>
                    <div class="app-kaizala-reason-content">
                        <h5>Ali drz</h5>
                        <p>One day</p>
                    </div>
                    <div class="app-kaizala-reason-pending">Pending</div>
                </div>
                <div class="app-kaizala-reason-date">
                    <p>Monday,Oct 29,2022</p>
                </div>
            </div>
            <div class="app-kaizala-divider"></div>
        </div>
    </div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Add new leave request
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">New Leave Request</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <header class="main-header">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6">Leave Management</div>
                  </div>
                </div>
              </header>
              
              <main class="main-container">
                <section class="leave-form">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <form>
                          <div class="form-group">
                            <label for="emp-id">Emp ID</label>
                            <input type="text" class="form-control" id="emp-id" placeholder="00000">
                          </div>
                          <div class="form-group">
                            <label for="email-id">Emp Email Id</label>
                            <input type="email" class="form-control" id="email-id" placeholder="johndove@thoughtworks.com">
                          </div>
                          <div class="form-group">
                            <label for="leave-type">Choose</label>
                            <select class="form-control" id="leave-type">
                              <option>Annual leave</option>
                              <option>Maternity leave</option>
                              <option>Paternity leave</option>
                            </select>
                          </div>
                     <div class="form-row align-items-center">
                  <div class="col-auto">
                    <label  for="start-date">Start Date</label>
                    <input type="text" class="form-control mb-2" id="start-date" placeholder="mm/dd/yyyy">
                  </div>
              
                  <div class="col-auto">
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                      <label class="form-check-label" for="autoSizingCheck">
                        Half day
                      </label>
                    </div>
                  </div>
                </div>
                        <div class="form-row align-items-center">
                  <div class="col-auto">
                    <label  for="start-date">End Date</label>
                    <input type="text" class="form-control mb-2" id="start-date" placeholder="mm/dd/yyyy">
                  </div>
              
                  <div class="col-auto">
                    <div class="form-check mb-2">
                      <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                      <label class="form-check-label" for="autoSizingCheck">
                        Half day
                      </label>
                    </div>
                  </div>
                </div>
                        </form>
              
                      </div>
                    </div>
                  </div>
                </section>
              
              </main>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>


</section>
</main>